version: 2.1
jobs:
 
  print_hello:
    docker: 
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run: echo "my name is hussein badran -- senior devops engineer" > output.txt
      - persist_to_workspace:
          root: /tmp/dir
          paths:
            - outfile
            
 
  print_world:
    docker:
      - image: cimg/base:stable
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"
      - attach_workspace:
          at: /tmp/dir
      - run: cat output.txt

workflows:
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      - say-hello
      - print_hello
      - print_world:
          requires:
            - print_hello 
